{% extends "base.html" %}
{% block main %}
<h1>Página de cambio de contraseña</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_old_password">Contraseña antigua</label>
    {{ form.old_password }}
  </div>
  <div class="form-group">
    <label for="id_new_password1">Contraseña nueva</label>
    {{ form.new_password1 }}
  </div>
  <div class="form-group">
    <label for="id_new_password2">Contraseña nueva (confirmación)</label>
    {{ form.new_password2 }}
  </div>
  <input type="submit" value="Cambiar">
</form>
<a href="{% url 'user_detail' user.id %}">Volver</a>
{% endblock %}